@import "./../../../utils/Colors.scss";

.header-wrapper {
  width: 100%;
  background-color: $c-whitesmoke-100;
  box-shadow: 0px 5px 5px -5px $c-black-100;

  .header__main-link {
    margin: 10px;
  }
}
